/* SPACING */

.mb-15 {
	margin-bottom: 15px;
}

.ml-20{
	margin-left: 20px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}
/* END SPACING */
